*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
}

.container .header{
    width: inherit;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7fff00;
}

.container .header .logo{
    margin-left: 10px;
}

.container .header .logo img{
    width: 100px;
}

.container .header .nav{
    margin-right: 10px;
}

.container .header .nav .search{
    height: 10px;
    width: 30px;
}

.container .header .nav ul li{
    display: inline-block;
    margin-left: 10px;
}

.container .header .nav ul li a{
    color: black;
    text-decoration: none;
}

.container .header .nav ul li a:hover{
    color: white;
}

.container .content{
    height: calc(100vh - 80px);
    width: 100%;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: poppins;
    font-size: 30px;
    overflow: auto;
}

.container .content .btn a button {
    width: 150px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 20px;
}

.container .content .btn .log button{
    background-color: #7fff00;
}

.container .content .btn .reg button{
    background-color: aqua;
}

.container .content .btn a button:hover{
    -ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Safari */
    transform: scale(1.2,1.2);
}